<%= stylesheet_link_tag 'fileuploader' %>
<%= javascript_include_tag 'fileuploader' %>

<%= ajax_uploader_script("file-uploader", ajax_upload_new_entry_path) %>

<div id="file-uploader">
  <noscript>Please enable JavaScript</noscript>
</div>

<% @users.each do |user| %>
  <%= image_tag user.avatar.url(:thumb) %>
<% end if @users %>
